In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('./바탕화면/unsw//UNSW-NB15_1.csv', sep = "," , low_memory=False)

In [3]:
df

,59.166.0.0,1390,149.171.126.6,53,udp,CON,0.001055,132,164,31,...,0.17,3,7,1,3.1,1.1,1.2,1.3,Unnamed: 47,0.18
0,59.166.0.0,33661,149.171.126.9,1024,udp,CON,0.036133,528,304,31,...,0,2,4,2,3,1,1,2,NaN,0
1,59.166.0.6,1464,149.171.126.7,53,udp,CON,0.001119,146,178,31,...,0,12,8,1,2,2,1,1,NaN,0
2,59.166.0.5,3593,149.171.126.5,53,udp,CON,0.001209,132,164,31,...,0,6,9,1,1,1,1,1,NaN,0
3,59.166.0.3,49664,149.171.126.0,53,udp,CON,0.001169,146,178,31,...,0,7,9,1,1,1,1,1,NaN,0
4,59.166.0.0,32119,149.171.126.9,111,udp,CON,0.078339,568,312,31,...,0,2,4,2,3,1,1,2,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699995,59.166.0.8,12520,149.171.126.6,31010,tcp,FIN,0.020383,320,1874,31,...,0,8,20,7,5,1,1,4,NaN,0
699996,59.166.0.0,18895,149.171.126.9,80,tcp,FIN,1.402957,19410,1087890,31,...,0,1,1,2,7,2,2,2,NaN,0
699997,59.166.0.0,30103,149.171.126.5,5190,tcp,FIN,0.007108,2158,2464,31,...,0,13,13,6,7,2,1,2,NaN,0
699998,59.166.0.6,30388,149.171.126.5,111,udp,CON,0.004435,568,304,31,...,0,10,13,6,5,1,1,3,NaN,0
699999,59.166.0.0,6055,149.171.126.5,54145,tcp,FIN,0.072974,4238,60788,31,...,0,13,13,6,7,1,1,2,NaN,0

In [4]:
#df 칼럼 추가
df.columns = ['srcip','sport','dstip','dsport','proto','state','dur','sbytes','dbytes','sttl','dttl','sloss','dloss','service','Sload','Dload'
               ,'Spkts','Dpkts','swin','dwin','stcpb','dtcpb','smeansz','dmeansz','trans_depth','res_bdy_len','Sjit','Djit','Stime','Ltime',
               'Sintpkt','Dintpkt','tcprtt','synack','ackdat','is_sm_ips_ports','ct_state_ttl','ct_flw_http_mthd','is_ftp_login','ct_ftp_cmd'
               ,'ct_srv_src','ct_srv_dst','ct_dst_ltm','ct_src_ltm','ct_src_dport_ltm','ct_dst_sport_ltm','ct_dst_src_ltm','attack_cat','Label'
              ]

In [5]:
#데이터 프레임 attack_cat 전체에 대해 공백 제거
df['attack_cat'].str.strip()

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
699995    NaN
699996    NaN
699997    NaN
699998    NaN
699999    NaN
Name: attack_cat, Length: 700000, dtype: object

In [6]:
df['attack_cat'].dtype

dtype('O')

In [7]:
event = df.iloc[:,[47]] #특정부분 추출(attack_cat)
event0=event.drop_duplicates()

In [8]:
print(event0)

           attack_cat
0                 NaN
19           Exploits
21     Reconnaissance
56                DoS
57            Generic
2007        Shellcode
4989          Fuzzers
7278            Worms
17603       Backdoors
80022        Analysis

In [9]:
#attack_cat 확인
exploits = df['attack_cat'] == 'Exploits'
exploits = df[exploits]
rec = df['attack_cat'] == 'Reconnaissance'
rec = df[rec]
shell = df['attack_cat'] == 'Shellcode'
shell = df[shell]
anal = df['attack_cat'] == 'Analysis'
anal = df[anal]
exploits = df['attack_cat'] == 'Exploits'
exploits = df[exploits]
generic = df['attack_cat'] == 'Generic'
generic = df[generic]
recon = df['attack_cat'] == 'Reconnaissance '
recon = df[recon]
worm = df['attack_cat'] == 'Worms'
wo = df[worm]
nan = df['attack_cat'] == 'NaN'
nan = df[nan]
fuz = df['attack_cat'] == 'Fuzzers '
fuz = df[fuz]
dos = df['attack_cat'] == 'DoS'
dos = df[dos]
back = df['attack_cat'] == 'Backdoors'
back = df[back]

In [10]:
generic

,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,sttl,...,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,Label
57,175.45.176.0,29309,149.171.126.14,3000,tcp,FIN,0.194910,844,268,254,...,0,1,1,1,1,1,1,1,Generic,1
241,175.45.176.3,55249,149.171.126.10,5060,udp,INT,0.000019,1388,0,254,...,0,1,1,1,1,1,1,1,Generic,1
1565,175.45.176.2,15985,149.171.126.17,80,tcp,FIN,0.534953,1710,115722,62,...,0,1,1,1,1,1,1,1,Generic,1
2458,175.45.176.2,8037,149.171.126.10,80,tcp,FIN,0.383638,1516,66749,62,...,0,1,1,1,1,1,1,1,Generic,1
2460,175.45.176.2,49950,149.171.126.16,5060,udp,INT,0.000003,1354,0,254,...,0,2,1,1,1,1,1,1,Generic,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182632,175.45.176.2,59953,149.171.126.10,69,udp,INT,0.000005,1104,0,254,...,0,2,1,1,2,1,1,1,Generic,1
182890,175.45.176.3,38535,149.171.126.13,21,tcp,FIN,0.824394,1054,1344,254,...,0,2,1,1,1,1,1,1,Generic,1
184043,175.45.176.2,47711,149.171.126.18,6504,tcp,FIN,0.610128,908,554,254,...,0,1,1,1,1,1,1,1,Generic,1
184443,175.45.176.2,63132,149.171.126.17,80,tcp,FIN,0.346236,1224,15268,62,...,0,4,1,1,2,1,1,1,Generic,1
184763,175.45.176.0,8603,149.171.126.18,25,tcp,FIN,1.395466,19884,1924,254,...,0,2,1,1,1,1,1,1,Generic,1

In [11]:
generic.to_csv('generic1.csv')