In [1]:
import numpy as np
import pandas as pd

In [2]:
df0 = pd.read_csv('./generic1.csv', sep = ",", low_memory=False)
df1 = pd.read_csv('./generic2.csv', sep = ",", low_memory=False)
df2 = pd.read_csv('./generic3.csv', sep = ",", low_memory=False)
df3 = pd.read_csv('./generic4.csv', sep = ",", low_memory=False)

In [3]:
df0

,Unnamed: 0,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,...,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,Label
0,57,175.45.176.0,29309,149.171.126.14,3000,tcp,FIN,0.194910,844,268,...,0,1,1,1,1,1,1,1,Generic,1
1,241,175.45.176.3,55249,149.171.126.10,5060,udp,INT,0.000019,1388,0,...,0,1,1,1,1,1,1,1,Generic,1
2,1565,175.45.176.2,15985,149.171.126.17,80,tcp,FIN,0.534953,1710,115722,...,0,1,1,1,1,1,1,1,Generic,1
3,2458,175.45.176.2,8037,149.171.126.10,80,tcp,FIN,0.383638,1516,66749,...,0,1,1,1,1,1,1,1,Generic,1
4,2460,175.45.176.2,49950,149.171.126.16,5060,udp,INT,0.000003,1354,0,...,0,2,1,1,1,1,1,1,Generic,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7517,182632,175.45.176.2,59953,149.171.126.10,69,udp,INT,0.000005,1104,0,...,0,2,1,1,2,1,1,1,Generic,1
7518,182890,175.45.176.3,38535,149.171.126.13,21,tcp,FIN,0.824394,1054,1344,...,0,2,1,1,1,1,1,1,Generic,1
7519,184043,175.45.176.2,47711,149.171.126.18,6504,tcp,FIN,0.610128,908,554,...,0,1,1,1,1,1,1,1,Generic,1
7520,184443,175.45.176.2,63132,149.171.126.17,80,tcp,FIN,0.346236,1224,15268,...,0,4,1,1,2,1,1,1,Generic,1
7521,184763,175.45.176.0,8603,149.171.126.18,25,tcp,FIN,1.395466,19884,1924,...,0,2,1,1,1,1,1,1,Generic,1

In [4]:
df1

,Unnamed: 0,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,...,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,Label
0,387276,175.45.176.0,0,149.171.126.12,0,ospf,INT,0.921987,1280,0,...,,1,1,1,1,1,1,2,Generic,1
1,387328,175.45.176.1,0,149.171.126.17,0,sctp,INT,0.000009,104,0,...,,1,1,2,1,1,1,2,Generic,1
2,387446,175.45.176.3,0,149.171.126.14,0,gre,INT,0.000009,156,0,...,,1,1,1,1,1,1,63,Generic,1
3,387706,175.45.176.0,55673,149.171.126.12,3000,tcp,FIN,0.182082,844,268,...,,1,1,1,1,1,1,1,Generic,1
4,388765,175.45.176.1,15982,149.171.126.14,5060,udp,INT,0.000020,1272,0,...,,1,1,1,1,1,1,1,Generic,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27878,699930,175.45.176.3,1043,149.171.126.18,53,udp,INT,0.000003,114,0,...,,6,6,6,6,6,6,6,Generic,1
27879,699931,175.45.176.3,1043,149.171.126.18,53,udp,INT,0.000003,114,0,...,,6,6,6,6,6,6,6,Generic,1
27880,699932,175.45.176.3,1043,149.171.126.18,53,udp,INT,0.000003,114,0,...,,34,34,19,19,19,19,34,Generic,1
27881,699933,175.45.176.3,1043,149.171.126.18,53,udp,INT,0.000003,114,0,...,,34,34,19,19,19,19,34,Generic,1
27882,699934,175.45.176.1,13540,149.171.126.10,80,tcp,FIN,3.393675,1194,3802,...,,2,1,1,1,1,1,1,Generic,1

In [5]:
df2

,Unnamed: 0,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,...,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,Label
0,264,175.45.176.3,47439,149.171.126.18,53,udp,INT,0.000009,114,0,...,,18,18,18,19,18,18,19,Generic,1
1,266,175.45.176.3,47439,149.171.126.18,53,udp,INT,0.000009,114,0,...,,18,18,18,19,18,18,19,Generic,1
2,267,175.45.176.3,47439,149.171.126.18,53,udp,INT,0.000009,114,0,...,,18,18,18,19,18,18,19,Generic,1
3,268,175.45.176.3,47439,149.171.126.18,53,udp,INT,0.000009,114,0,...,,18,18,18,19,18,18,19,Generic,1
4,269,175.45.176.3,47439,149.171.126.18,53,udp,INT,0.000009,114,0,...,,18,18,18,19,18,18,19,Generic,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118193,698602,175.45.176.3,12441,149.171.126.16,6502,tcp,FIN,0.504973,726,468,...,,6,1,1,2,1,1,1,Generic,1
118194,699701,175.45.176.3,56807,149.171.126.10,80,tcp,FIN,0.309953,1366,2366,...,,2,1,1,1,1,1,1,Generic,1
118195,699905,175.45.176.1,30850,149.171.126.11,80,tcp,FIN,2.396717,4282,580983,...,,1,1,1,1,1,1,2,Generic,1
118196,699908,175.45.176.1,17386,149.171.126.11,6071,tcp,FIN,0.291164,732,468,...,,1,1,1,1,1,1,2,Generic,1
118197,699961,175.45.176.1,24448,149.171.126.11,5250,tcp,FIN,0.176514,10778,268,...,,1,1,1,1,1,1,2,Generic,1

In [6]:
df3

,Unnamed: 0,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,...,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,Label
0,50,175.45.176.1,0,149.171.126.11,0,sctp,INT,0.000009,440,0,...,,1,1,1,1,1,1,2,Generic,1
1,100,175.45.176.0,12334,149.171.126.13,5060,udp,INT,0.000010,1376,0,...,,1,1,1,1,1,1,1,Generic,1
2,501,175.45.176.1,1707,149.171.126.10,5060,udp,INT,0.000010,1354,0,...,,1,1,1,1,1,1,1,Generic,1
3,595,175.45.176.0,12720,149.171.126.14,80,tcp,FIN,0.244791,1112,26344,...,,1,1,1,1,1,1,1,Generic,1
4,660,175.45.176.1,14975,149.171.126.11,80,tcp,FIN,0.684788,1984,67738,...,,1,1,1,1,1,1,1,Generic,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61873,440019,175.45.176.0,47439,149.171.126.10,53,udp,INT,0.000001,114,0,...,,15,15,15,15,15,15,15,Generic,1
61874,440020,175.45.176.0,47439,149.171.126.10,53,udp,INT,0.000001,114,0,...,,15,15,15,15,15,15,15,Generic,1
61875,440021,175.45.176.0,47439,149.171.126.10,53,udp,INT,0.000001,114,0,...,,15,15,15,15,15,15,15,Generic,1
61876,440022,175.45.176.0,47439,149.171.126.10,53,udp,INT,0.000001,114,0,...,,15,15,15,15,15,15,15,Generic,1
61877,440023,175.45.176.0,47439,149.171.126.10,53,udp,INT,0.000001,114,0,...,,15,15,15,15,15,15,15,Generic,1

In [7]:
df = pd.concat([df0, df1, df2, df3])

In [8]:
df

,Unnamed: 0,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,...,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,Label
0,57,175.45.176.0,29309,149.171.126.14,3000,tcp,FIN,0.194910,844,268,...,0,1,1,1,1,1,1,1,Generic,1
1,241,175.45.176.3,55249,149.171.126.10,5060,udp,INT,0.000019,1388,0,...,0,1,1,1,1,1,1,1,Generic,1
2,1565,175.45.176.2,15985,149.171.126.17,80,tcp,FIN,0.534953,1710,115722,...,0,1,1,1,1,1,1,1,Generic,1
3,2458,175.45.176.2,8037,149.171.126.10,80,tcp,FIN,0.383638,1516,66749,...,0,1,1,1,1,1,1,1,Generic,1
4,2460,175.45.176.2,49950,149.171.126.16,5060,udp,INT,0.000003,1354,0,...,0,2,1,1,1,1,1,1,Generic,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61873,440019,175.45.176.0,47439,149.171.126.10,53,udp,INT,0.000001,114,0,...,,15,15,15,15,15,15,15,Generic,1
61874,440020,175.45.176.0,47439,149.171.126.10,53,udp,INT,0.000001,114,0,...,,15,15,15,15,15,15,15,Generic,1
61875,440021,175.45.176.0,47439,149.171.126.10,53,udp,INT,0.000001,114,0,...,,15,15,15,15,15,15,15,Generic,1
61876,440022,175.45.176.0,47439,149.171.126.10,53,udp,INT,0.000001,114,0,...,,15,15,15,15,15,15,15,Generic,1
61877,440023,175.45.176.0,47439,149.171.126.10,53,udp,INT,0.000001,114,0,...,,15,15,15,15,15,15,15,Generic,1

In [10]:
df.to_csv('all_generic.csv')